.color{
    color: $yellow;
    margin-top: 5rem;
    line-height: 50px;
    size:50px;
}
.about{
    &.parag{
        font-weight:bold
    }
    ul{
        width: 20px;
        display: block;
    }
    li{
        list-style: square;
    }
}