.color{
    color: $yellow;
    line-height: 100px;
    size:100px
}
.about{
    &.parag{
        font-weight:bold
    }
    ul{
        width: 20px;
        display: block;
    }
    li{
        list-style: square;
    }
}